$white: #fff;
$black: #000;
$bg-grey: #f8f8ff;
$grey: #ecedf6;
$btn-grey: #dedfe1;
$drak-grey: #cccdde;
$bg-header: rgba(33, 75, 75, 0.7);
$bg-layer2: rgba(187, 202, 202, 0.2);
$bg-blue: #6eb9ff;
$whiteblue:rgb(220, 235, 235);
$bg-footer: #00264a;
$bg-copyrights: #001c36;
$pink: rgba(255, 144, 162, 0.3);
$lightblue: rgba(0, 255, 234, 0.3);
$green: rgba(0, 255, 13, 0.3);
$darkblue: rgba(0, 140, 255, 0.3);
$lightdarkblue: rgba(136, 191, 255, 0.3);
